.gaming__shop-section {
  width: 100%;
  background-color: rgb(97, 96, 96);
  font-family: "Roboto";
}

.gaming__filter-container {
  transform: translateX(-100%);
  z-index: 3000;
  transition: 0.5s 0.3s ease-in-out;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: clamp(25rem, 50%, 60rem);
  height: 100vh;
  background-color: #1d1e4d;
}
.gaming__stars-container {
  margin-bottom: 1rem;
}
.gaming__stars-container ion-icon {
  color: #ffbf00;
  font-size: 1.6rem;
}
.gaming__filters {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  justify-content: center;
  gap: 1rem;
}
.gaming__filter-inner-container {
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

.gaming__filter-name {
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-align: center;
}
.gaming__filter-ul-visible {
  position: absolute;
  z-index: 2000;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  background-color: silver;
  height: 15rem;
  width: 100%;
  overflow: scroll;
  transition: 0.35s all;
}
.gaming__filter-ul-visible > * {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.gaming__filter-ul-visible li:first-child {
  padding-top: 1rem;
}
.gaming__filter-ul-visible li:last-child {
  padding-bottom: 1rem;
}

.gaming__open-filter {
  cursor: pointer;
  width: 4rem;
  background-color: #fff;
  color: #1d1e4d;
  line-height: 0;
  border-style: none;
  padding: 0.4rem;
  font-size: 2.4rem;
  border-radius: 4px;
}

.gaming__main-container {
  height: auto;
  min-height: calc(100vh);
  padding: 2.8rem 2.4rem 7.4rem 2.4rem;
}
.gaming__main-content {
  display: grid;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}
.gaming__game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  background-color: #e43082;
}
.gaming__game-img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 1.6rem;
}
.gaming__game-name {
  margin-top: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.6rem;
}
.gaming__game-actions-container {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1.4rem;
}
.gaming__about-game-btn {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  background-color: #fff;
  color: #1d1e4d;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 0.8rem 1.6rem;
}
.gaming__about-game-btn:active,
.gaming__about-game-btn:hover {
  background-color: silver;
  color: #1d1e4d;
}
.gaming__game-price {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.gaming__mobile-pages {
  display: flex;
  margin-top: auto;
  color: #fff;
  gap: 1.2rem;
  align-items: center;
}
.gaming__mobile-pages-text {
  font-size: 1.4rem;
}
.gaming__mobile-pages-prev {
  border-radius: 50%;
  font-size: 1.8rem;
  border: none;
  padding: 0;
  line-height: 0;
  background-color: #fff;
  color: #e43082;
}
.gaming__mobile-pages-input {
  text-align: center;
  width: 10%;
}
.gaming__mobile-pages-next {
  border-radius: 50%;
  font-size: 1.8rem;
  border: none;
  padding: 0;
  line-height: 0;
  background-color: #fff;
  color: #e43082;
}
.gaming__mobile-pages-span {
  font-size: 1.4rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* CLASSES FOR JS */

.add-shadow {
  box-shadow: 0 0 0 3px #e43082;
}

.gaming__filter-ul-hidden {
  overflow: hidden;
  list-style: none;
  height: 0;
  padding: 0;
}
.gaming__filter-ul-hidden-delayed {
  transition-delay: 0.35s;
}
.gaming__filter-ul-visible-delayed {
  transition-delay: 0.35s;
}
.gaming__filter-opened {
  transform: translateX(0);
}
.gaming__hide-open-btn {
  transition: 0.5s ease-in-out;
  transform: translateX(calc(-100% - 2.4rem));
}
.gaming__display-open-btn {
  transition: 0.5s 0.8s ease-in-out;
  transform: translateX(0);
}
.gaming__searchbar-container {
  margin-bottom: 2.4rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
  .gaming__main-content {
    width: 75%;
  }
}
@media screen and (min-width: 500px) {
  .gaming__main-content {
    width: 65%;
  }
}
@media screen and (min-width: 600px) {
  .gaming__main-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .gaming__main-content {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .gaming__main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .gaming__main-container {
    padding: 7.4rem 2.4rem;
  }
  .gaming__main-container {
    min-height: calc(100vh - 5.8rem);
  }
}

@media screen and (min-width: 1100px) {
  .gaming__main-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
