.gaming__redirect-to-login-btn:link,
.gaming__redirect-to-login-btn:visited {
  font-family: "Roboto";
  border-style: none;
  border-radius: 4px;
  padding: 0.4rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  transition: 0.3s ease-out all;
  background-color: #f0f0f0;
  color: #1d1e4d;
  text-decoration: none;
}

.gaming__redirect-to-login-btn:active,
.gaming__redirect-to-login-btn:hover {
  background-color: #fff;
  color: rgba(29, 30, 77, 0.7);
}
