.gaming__log-out-btn {
  background-color: #e43082;
  font-family: "Roboto";
  border-style: none;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.4rem;
  transition: 0.3s ease-out all;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
