.gaming__close-redirect-overlay-btn {
  align-self: flex-end;
  cursor: pointer;
  border-style: none;
  background-color: #e43082;
  padding: 0;
  line-height: 0;
  color: #fff;
  margin-bottom: 1.6rem;
}
.gaming__close-redirect-overlay-btn ion-icon {
  font-size: 2.4rem;
  color: #fff;
}
