.gaming__open-nav-btn {
  transition: 0.5s 0.5s ease-in-out;
  line-height: 0;
  border: 1px solid #fff;
  padding: 0.4rem;
  background-color: #e43082;
  color: #1d1e4d;
  font-size: 2.4rem;
  border-radius: 4px;
}
.gaming__open-nav-icon {
  width: 3.2rem;
}
/* CLASSES FOR JS */
.gaming__hide-menu-btn {
  transition: 0.5s ease-in-out;
  transform: translateX(calc(-100% - 2.4rem));
}
.gaming__display-menu-btn {
  transition: 0.5s 0.5s ease-in-out;
}

.menu-shrink {
  animation: shrink-menu 0.25s 0.5s ease-in-out forwards;
}

@keyframes shrink-rect-left {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

@keyframes shrink-menu {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/*=== MEDIA QUERIES ===*/
@media screen and (min-width: 900px) {
  .gaming__open-nav-btn {
    display: none;
  }
}
